{%- if predictive_search.performed -%}
  <div id="predictive-search-results" role="listbox">
    {%- liquid
      assign products_count = predictive_search.resources.products.size
      assign collections_count = predictive_search.resources.collections.size
      assign pages_count = predictive_search.resources.pages.size
      assign articles_count = predictive_search.resources.articles.size
      assign total_count = products_count | plus: collections_count | plus: pages_count | plus: articles_count
    -%}

    {%- if total_count > 0 -%}
      <p class="predictive-search__heading" id="predictive-search-products">{{ 'general.search.suggestions' | t }}</p>
      <ul class="predictive-search__results-list list-menu" role="group" aria-labelledby="predictive-search-products">
        {%- for product in predictive_search.resources.products -%}
          <li class="predictive-search__list-item" id="predictive-search-option-product-{{ forloop.index }}" role="option" aria-selected="false">
            <a href="{{ product.url }}" class="predictive-search__item link link--text" tabindex="-1">
              {%- if product.featured_media != blank -%}
                {%- assign ps_alt = product.featured_media.alt | default: product.title | escape -%}
                {{ product.featured_media | image_url: width: 96 | image_tag: class: 'predictive-search__image', loading: 'lazy', widths: '48,72,96', sizes: '48px', alt: ps_alt }}
              {%- endif -%}
              <span>
                <span class="predictive-search__item-heading">{{ product.title | escape }}</span>
                {%- if product.vendor != blank -%}
                  <span class="predictive-search__item-vendor">{{ product.vendor | escape }}</span>
                {%- endif -%}
                <span class="predictive-search__item-price">{{ product.price | money }}</span>
              </span>
            </a>
          </li>
        {%- endfor -%}

        {%- for collection in predictive_search.resources.collections -%}
          <li class="predictive-search__list-item" id="predictive-search-option-collection-{{ forloop.index }}" role="option" aria-selected="false">
            <a href="{{ collection.url }}" class="predictive-search__item link link--text" tabindex="-1">
              <span class="predictive-search__item-heading">{{ collection.title | escape }}</span>
            </a>
          </li>
        {%- endfor -%}

        {%- for page in predictive_search.resources.pages -%}
          <li class="predictive-search__list-item" id="predictive-search-option-page-{{ forloop.index }}" role="option" aria-selected="false">
            <a href="{{ page.url }}" class="predictive-search__item link link--text" tabindex="-1">
              <span class="predictive-search__item-heading">{{ page.title | escape }}</span>
            </a>
          </li>
        {%- endfor -%}

        {%- for article in predictive_search.resources.articles -%}
          <li class="predictive-search__list-item" id="predictive-search-option-article-{{ forloop.index }}" role="option" aria-selected="false">
            <a href="{{ article.url }}" class="predictive-search__item link link--text" tabindex="-1">
              <span class="predictive-search__item-heading">{{ article.title | escape }}</span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p class="predictive-search__empty">{{ 'general.search.no_suggestions' | t }}</p>
    {%- endif -%}

    <button class="predictive-search__search-for-button" tabindex="-1" role="option" aria-selected="false">
      <span>{{ 'general.search.search_for' | t: terms: predictive_search.terms }}</span>
      {%- render 'icon', name: 'search' -%}
    </button>
  </div>
{%- endif -%}
